body {
    margin: 0;

    text-align: center;
}

.self {
    width: 175px;
    margin-bottom: 50px;
    border-radius: 50%;
}

#welcome {
    Height: 800px;
    display: table;
    width: 100%;
    Background: linear-gradient(#60ebeb 0%, #27ae60 100%)
}

h1[ font-size:45px;
font-weight:300;

] h2 {

    font-size: 30px;
    font-weight: 300;

}

p {
    font-size: 20px;

}

#name {
    font-size: 30px;
    font-family: 'Anton', sans-serif;

}

#bio {
    font-size: 45px;
    Text-align: center;

}

.info {
    height: 6px;
    width: 70px;
}

.inner {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.menu {
    font-family: sans-serif;
    position: fixed;
    top: 0px;
    z-index: 10;
    background-color: white;
    width: 100%;
    margin-top: 0px;


}

.links {
    padding-left: 33px;
    padding-right: 25px;
    font-family: fantasy;
    font-size: 20px;
    display: inline;

}

.links:hover {
    background-color: yellow;
    font-size: 25px;
    text-decoration: underline;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: aqua;
    text-shadow: 2px 2px gainsvoro;



}

.article:hover {
    background-color: cyan;
}

#writings a {
    text-shadow: none:important;
    text-decoration: underline:important;
    color: blueviolet:important;
}

#contact {
    background: firebrick;

}

#contact iframe {
    width: 100%;

}

.contact1 h3 {
    display: inline;
}

.contact a {
    color: white;
    text-shadow: none;

}
